.navi{
  
    text-decoration: none;
    
    color:#D8E6F3;
    font-family: helvetica;
    text-align: center;
    padding-top: 13px;
    font-size: 16px;
    width: 100%;
}
.navi:hover{
    background-color: #D8E6F3;
    color:#c83240 ;
  }

.div{

    margin-left: -8px;
    margin-top: -8px;
    margin-right: 8px;
    background-color: #c83240;
    width: 100vw;
    height: 50px;
    justify-content: space-around;
    display: flex;
}
